.animated-button {
    color: white;
    border-color: white; /* Tailwind green-500 */
    transition: all 0.4s ease;
}

.animated-button::before {
    content: "";
    position: absolute;
    background-color: #22c55e;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.4s ease;
}

.animated-button:hover::before {
    width: 100%;
}

.animated-button:hover {
    color: white;
}
