
@font-face {
  font-family: 'Glacial_Indifference';
  src: url('./assets/fonts/GlacialIndifference-Regular.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Glacial_Indifference_bold';
  src: url('./assets/fonts/GlacialIndifference-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: 'ClashDisplay_Bold';
  src: url('./assets/fonts/ClashDisplay-Bold.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'ClashDisplay_Regular';
  src: url('./assets/fonts/ClashDisplay-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family:"GeistVF";
  src: url('./assets/fonts/GeistVF.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@import "tailwindcss";
@theme{
  --font-glacial: Glacial_Indifference, "sans-serif";
  --font-glacial-bold: Glacial_Indifference_bold, "sans-serif";
  --font-clash: ClashDisplay_Regular, "sans-serif";
  --font-clash-bold: ClashDisplay_Bold, "sans-serif";
  --font-geist: GeistVF, "sans-serif";
}
